body {
    font-family: courier-std, monospace;
    font-weight: 300;
    font-size: 16px;
    background-color: tan;
    margin: auto;
}

header {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    background-color: rgb(51, 24, 12);
    color: white;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.douglas {
    text-align: center;
    font-size: 40px;
}

ul {
    list-style-type: none;
    max-width: 750px;
    margin: auto;
    padding: 0;
}

.pages {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    color: tan;
}

a:hover {
    color: tan;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

p {
    display: block;
    margin: auto;
    max-width: 750px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

h2 {
    font-family: franklin-gothic-urw, sans-serif;
    color: rgb(51, 24, 12);
    margin: auto;
    margin-top: 30px;
    max-width: 750px;

}

.intro {
    display: block;
    background-color: rgb(51, 24, 12);
    color: white;
    max-width: 750px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}

.bold {
    font-weight: bold;
    text-align: right;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.images:last-of-type {
    padding-left: 20px;
}

.full-width {
    max-width: 100%;
    width: 750px;
}

.caption {
    font-family: franklin-gothic-urw, sans-serif;
    text-align: center;
    margin-top: -20px;
}

.baraka {
    padding-left: 20px;
}

.newspaper {
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
}

.bullets {
    list-style-type: disc;
}

.bullets li {
    margin-top: 10px;
}

#sources li {
    text-indent: -5%;
    padding-left: 5%;
    padding-top: 20px;
}

#sources a {
    color: black;
}

#sources a:active {
    color: gray;
}

#sources a:hover {
    color: rgb(114, 114, 114);
}

