html {
    font-family: raleway, sans-serif;
}
body {
    margin: 5%;
    margin-left: 7%;
}

h1 {
    text-indent: -2rem;
}

h4 {
    text-indent: -1rem;
    font-size: 15pt;
    font-weight: 500;
}

.light {
    font-weight: 100;
}

.medium {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.tight {
    letter-spacing: -0.05em;
}

.wide {
    letter-spacing: 0.05em;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.none {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}